# Ignore user-generated data
/data/input_images/
/data/processed_images/

# Ignore legacy scripts
/data/legacy/

# Ignore assets, but keep the example image
/assets/*
!/assets/SparkAreaExample.PNG

# Ignore Pycache
/src/__pycache__