/* styles/spark-tracer.css */

#spark-tracer-graph {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* This creates space between columns */
    padding: 10px;
    align-items: stretch; /* Ensure all items in a row stretch to the same height */
}

/* Add a border to the right of the first two columns in each row */
#spark-tracer-graph > .spark-trace-tree:nth-child(3n+1),
#spark-tracer-graph > .spark-trace-tree:nth-child(3n+2) {
    border-right: 1px dashed #ccc;
    padding-right: 10px; /* Space between content and border */
}

/* Handle dark mode */
.dark-mode #spark-tracer-graph > .spark-trace-tree:nth-child(3n+1),
.dark-mode #spark-tracer-graph > .spark-trace-tree:nth-child(3n+2) {
    border-right-color: var(--dark-uma-border-color);
}

#spark-tracer-graph > .spark-trace-tree:nth-child(n+4) {
    position: relative;
    padding-top: 10px; /* Space for the pseudo-element border */
}

#spark-tracer-graph > .spark-trace-tree:nth-child(n+4)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 93%;
    margin-top: -6px;
    border-top: 1px dashed #ccc;
}

.dark-mode #spark-tracer-graph > .spark-trace-tree:nth-child(n+4)::before {
    border-top-color: var(--dark-uma-border-color);
}

/* Basic styling for the tree structure */
.spark-trace-tree {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 100%; /* Make the tree take up the full height of the grid cell */
}

.spark-trace-tree ul {
    list-style-type: none;
    padding-left: 20px;
    margin-left: 5px;
}

.dark-mode .spark-trace-tree ul {
    border-left-color: var(--dark-uma-border-color);
}

.spark-trace-tree li {
    padding: 5px 0;
}
